.body{
    background-color: rgb(250, 250, 160);
    width:80%;
    height: 500px;
    box-shadow: 0px 3px 5px 3px grey;
    padding: 8px 4px;


}
.right-side{
    color: tomato;
    float: right;
    width: 50%;
    text-align:center ;
    padding-top: 40px;

}
   
img{
    width: 50%;
    height: 500px;


}
h2{
    color: purple;
    margin: 20px 5px;
    padding: 10px 0px;
   
}
input{
    padding: 8px 10px;
    margin: 8px;
    border: 1px solid grey;
    border-radius: 3px;
}
.signin{
    background-color: rgb(2, 49, 2);
    color: white;
    width: 350px;
    padding: 8px 10px;
    margin: 10px 5px 20px;
    border: none;

}

p{
    font-size: 15px;

}

span{
    color: rgb(79, 79, 226);
}   
.signup{
    margin-top: 50px;
    background-color: white;
    color: rgb(2, 49, 2);
    box-shadow: 0px 2px 3px 2px grey;
    border: none;
}
    
button:hover{
    color: rgb(86, 247, 86);
}